@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf"); }

html,
body {
  overflow-x: hidden; }

body {
  font-family: "Poppins";
  font-weight: normal;
  font-style: normal;
  background: #E7E3E0;
  color: #121212;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  text-decoration: none; }

i,
span,
a {
  display: inline-block; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura", sans-serif;
  font-weight: 600;
  color: #121212;
  margin: 0px; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #121212;
  margin: 0px; }

b {
  font-weight: bold; }

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }

/*==== Section Title =====*/
/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999; }

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none; }

.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  animation: ytp-spinner-linspin 1568.23529647ms linear infinite; }

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%; }

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%; }

.preloader .loader .ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  border-color: #9B9B84 #9B9B84 #9B9B84;
  border-radius: 50%;
  border-width: 6px; }

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #cbced1;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #cbced1;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both; }

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg); }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg); }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg); }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg); }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg); }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg); }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg); } }

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg); } }

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg); }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg); } }

/*===========================
       2.BUTTON css 
===========================*/
.main-btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  padding: 0 32px;
  font-size: 16px;
  line-height: 46px;
  color: #666;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  position: relative;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .main-btn {
    font-size: 14px;
    padding: 0 20px;
    line-height: 40px; } }

.rounded-buttons ul li {
  display: inline-block;
  margin-left: 18px;
  margin-top: 20px; }

@media (max-width: 767px) {
  .rounded-buttons ul li {
    margin-left: 0; } }

.rounded-buttons ul li:first-child {
  margin-left: 0; }

.rounded-buttons .main-btn {
  border-radius: 40px; }

.rounded-buttons .rounded-one {
  border-color: #DF4F89;
  color: #000; }

.rounded-buttons .rounded-one:hover {
  background-color: #df4f89; }

.rounded-buttons .rounded-two {
  color: #000;
  background-color: #fff;
  border-color: #DF4F89; }

.rounded-buttons .rounded-two:hover {
  background-color: white;
  border-color: #df4f89; }

.rounded-buttons .rounded-three {
  overflow: hidden;
  line-height: 52px;
  background: #FFFFFF;
  border: 1px solid #DF4F89;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  -webkit-transition: all 0.1s ease-out 0s;
  -moz-transition: all 0.1s ease-out 0s;
  -ms-transition: all 0.1s ease-out 0s;
  -o-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-out 0s; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .rounded-buttons .rounded-three {
    line-height: 44px; } }

@media (max-width: 767px) {
  .rounded-buttons .rounded-three {
    line-height: 44px; } }

.rounded-buttons .rounded-three:hover {
  background-position: right center; }

.rounded-buttons .rounded-four {
  border-color: #DF4F89;
  padding-left: 60px; }

@media (max-width: 767px) {
  .rounded-buttons .rounded-four {
    padding-left: 40px; } }

.rounded-buttons .rounded-four span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  left: 30px;
  line-height: normal; }

@media (max-width: 767px) {
  .rounded-buttons .rounded-four span {
    left: 15px; } }

.rounded-buttons .rounded-four:hover {
  color: #DF4F89;
  background-color: #fff; }

.rounded-buttons .rounded-four:hover i {
  -webkit-animation: iconTranslateY 0.5s forwards;
  -moz-animation: iconTranslateY 0.5s forwards;
  -o-animation: iconTranslateY 0.5s forwards;
  animation: iconTranslateY 0.5s forwards; }

.rounded-buttons .rounded-five {
  color: #DF4F89;
  background-color: #fff;
  border-color: #DF4F89;
  padding-left: 60px; }

@media (max-width: 767px) {
  .rounded-buttons .rounded-five {
    padding-left: 40px; } }

.rounded-buttons .rounded-five span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  left: 30px;
  line-height: normal; }

@media (max-width: 767px) {
  .rounded-buttons .rounded-five span {
    left: 15px; } }

.rounded-buttons .rounded-five:hover {
  color: #DF4F89;
  background-color: transparent; }

.rounded-buttons .rounded-five:hover i {
  -webkit-animation: iconTranslateY 0.5s forwards;
  -moz-animation: iconTranslateY 0.5s forwards;
  -o-animation: iconTranslateY 0.5s forwards;
  animation: iconTranslateY 0.5s forwards; }

.rounded-buttons .rounded-six {
  padding-right: 60px;
  overflow: hidden;
  line-height: 52px;
  background: #fff;
  background-size: 200% auto;
  color: #DF4F89;
  border: 0; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .rounded-buttons .rounded-six {
    line-height: 44px; } }

@media (max-width: 767px) {
  .rounded-buttons .rounded-six {
    padding-right: 40px;
    line-height: 44px; } }

.rounded-buttons .rounded-six span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  right: 30px;
  line-height: normal; }

@media (max-width: 767px) {
  .rounded-buttons .rounded-six span {
    right: 15px; } }

.rounded-buttons .rounded-six:hover {
  background-position: right center; }

.rounded-buttons .rounded-six:hover i {
  -webkit-animation: iconTranslateY 0.5s forwards;
  -moz-animation: iconTranslateY 0.5s forwards;
  -o-animation: iconTranslateY 0.5s forwards;
  animation: iconTranslateY 0.5s forwards; }

@-webkit-keyframes iconTranslateY {
  49% {
    -webkit-transform: translateY(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  51% {
    opacity: 1; } }

@-moz-keyframes iconTranslateY {
  49% {
    -webkit-transform: translateY(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  51% {
    opacity: 1; } }

@keyframes iconTranslateY {
  49% {
    -webkit-transform: translateY(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  51% {
    opacity: 1; } }

.sidebar-right {
  display: none; }

.container {
  max-width: 100%; }

.navbar-area {
  background: rgba(217, 217, 217, 0.01);
  -webkit-box-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
  padding: 10px 0;
  position: absolute;
  height: 119px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.navbar-area .navbar-brand img {
  max-width: 150px;
  position: relative;
  top: -13px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area {
    padding: 10px 0; }
  .navbar-area .navbar-brand img {
    width: 100%;
    position: relative; } }

@media (max-width: 767px) {
  body {
    width: 100%; }
  .navbar-area {
    box-shadow: none;
    width: 100%;
    height: 77px;
    padding: 10px 0; }
  .navbar-area .navbar-brand img {
    max-width: 100%;
    height: 124px;
    top: -30px;
    bottom: 15px;
    position: relative;
    left: -10px; }
  .btnSideBar {
    display: block; } }

.navbar-area .navbar {
  position: relative;
  padding: 0; }

.navbar-area .navbar .navbar-toggler .toggler-icon {
  visibility: hidden;
  width: 30px;
  height: 2px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 5px 0;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px; }

.navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0; }

.navbar-area .navbar .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-toggler {
    visibility: visible; }
  .navbar-area .navbar .navbar-toggler .toggler-icon {
    visibility: visible;
    top: -8px; }
  .navbar-area .navbar .navbar-collapse {
    display: none; } }

@media (max-width: 767px) {
  .navbar-area .navbar .navbar-toggler .toggler-icon {
    visibility: visible;
    top: -46px; }
  .navbar-toggler {
    visibility: visible;
    margin-bottom: -13px; }
  .navbar-area .navbar .navbar-collapse {
    display: none; }
  .sidebar-right {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(155, 135, 132, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 109px;
    height: 583px;
    padding-top: 80px;
    z-index: 9999;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
  .sidebar-right.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .sidebar-right .sidebar-close {
    position: absolute;
    top: 30px;
    right: 80px; }
  .sidebar-right .sidebar-close .close {
    font-size: 24px;
    position: relative;
    bottom: 9px;
    left: 49px;
    background-size: 100%;
    border-radius: 8px;
    color: transparent; } }

.sidebar-right .sidebar-close .close:hover {
  opacity: inherit; }

.sidebar-right .sidebar-content .sidebar-menu {
  margin-top: 40px; }

.sidebar-right .sidebar-content .sidebar-menu ul li a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 22px;
  justify-content: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.overlay-right {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999; }

.overlay-right.open {
  display: block; }

.navbar-area .navbar .navbar-nav .nav-item a {
  display: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  position: relative;
  top: -20px;
  font-size: 14px;
  line-height: 24px;
  padding-inline: 14px;
  align-items: center;
  text-align: center;
  color: #FFFFFF; }

.navbar-area .navbar .navbar-nav .nav-item a:hover {
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4); }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area .navbar .navbar-nav .nav-item a {
    visibility: visible;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    border-radius: 0px;
    margin-left: 175px;
    font-size: 20px;
    margin-bottom: 4px;
    line-height: 27px;
    align-items: center;
    display: flex;
    text-align: right;
    color: #FDFDFD;
    border-bottom: 1px solid #F9F9F9;
    flex-direction: row-reverse; } }

@media (max-width: 767px) {
  .navbar-area .navbar .navbar-nav .nav-item a {
    visibility: visible;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    border-radius: 0px;
    margin-left: 175px;
    font-size: 20px;
    margin-bottom: 4px;
    line-height: 27px;
    align-items: center;
    display: flex;
    text-align: right;
    color: #FDFDFD;
    border-bottom: 1px solid #F9F9F9;
    flex-direction: row-reverse; } }

@media (max-width: 400px) {
  .navbar-area .navbar .navbar-nav .nav-item a {
    line-height: 18px; }
  .navbar-area .navbar .navbar-collapse {
    height: 245px;
    margin-top: 310px; } }

.navbar-area .navbar .navbar-nav .nav-item a::before {
  position: absolute;
  content: '';
  width: 32px;
  height: 4px;
  background-color: #fff;
  left: 50%;
  bottom: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: translateX(-50%) scaleX(0);
  -moz-transform: translateX(-50%) scaleX(0);
  -ms-transform: translateX(-50%) scaleX(0);
  -o-transform: translateX(-50%) scaleX(0);
  transform: translateX(-50%) scaleX(0); }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area .navbar .navbar-nav .nav-item a::before {
    display: none; } }

@media (max-width: 767px) {
  .navbar-area .navbar .navbar-nav .nav-item a::before {
    display: none; } }

.navbar-area .navbar .navbar-nav .nav-item.active > a::before,
.navbar-area .navbar .navbar-nav .nav-item:hover > a::before {
  -webkit-transform: translateX(-50%) scaleX(1);
  -moz-transform: translateX(-50%) scaleX(1);
  -ms-transform: translateX(-50%) scaleX(1);
  -o-transform: translateX(-50%) scaleX(1);
  transform: translateX(-50%) scaleX(1); }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu {
  position: absolute;
  right: 0;
  top: 100%;
  width: 260px;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 99;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16); }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area .navbar .navbar-nav .nav-item .sub-menu {
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    top: auto !important;
    opacity: 1 !important;
    visibility: visible !important;
    display: none;
    right: auto;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all none ease-out 0s;
    -moz-transition: all none ease-out 0s;
    -ms-transition: all none ease-out 0s;
    -o-transition: all none ease-out 0s;
    transition: all none ease-out 0s;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
    border-top: 0; } }

.carousel_mobile {
  display: none; }

.carousel_full {
  display: block;
  width: 100%; }

@media (max-width: 767px) {
  .carousel_mobile {
    display: block;
    height: 584px;
    width: 100%; }
  .carousel_full {
    display: none; }
  .navbar-area .navbar .navbar-nav .nav-item .sub-menu {
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    top: auto !important;
    opacity: 1 !important;
    visibility: visible !important;
    display: none;
    right: auto;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all none ease-out 0s;
    -moz-transition: all none ease-out 0s;
    -ms-transition: all none ease-out 0s;
    -o-transition: all none ease-out 0s;
    transition: all none ease-out 0s;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: left;
    border-top: 0; }
  .carousel-btn {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li {
  position: relative; }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li .sub-nav-toggler {
  color: #121212;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 24px;
  position: relative;
  color: #121212;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 0;
  margin: 0 0; }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li a i {
  float: right;
  font-size: 14px;
  margin-top: 5px; }

@media (max-width: 400px) {
  .carousel_mobile {
    display: block;
    height: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area .navbar .navbar-nav .nav-item .sub-menu li a i {
    display: none; } }

@media (max-width: 767px) {
  .navbar-area .navbar .navbar-nav .nav-item .sub-menu li a i {
    display: none; } }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li a .sub-nav-toggler i {
  display: inline-block; }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li a::before {
  display: none; }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
  right: auto;
  left: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
    padding-left: 30px; } }

@media (max-width: 767px) {
  .navbar-area .navbar .navbar-nav .nav-item .sub-menu li .sub-menu {
    padding-left: 30px; } }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible; }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li:hover .sub-nav-toggler {
  color: #fff; }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li:hover > a {
  color: #fff; }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li:hover > a::after {
  opacity: 1; }

.navbar-area .navbar .navbar-nav .nav-item .sub-menu li:hover > a::before {
  opacity: 1; }

.navbar-area .navbar .navbar-nav .nav-item:hover .sub-menu {
  opacity: 1;
  visibility: visible; }

.navbar-area .navbar .navbar-nav .nav-item .sub-nav-toggler {
  display: none; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area .navbar .navbar-nav .nav-item .sub-nav-toggler {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 14px;
    font-size: 16px;
    background: none;
    border: 0;
    color: #fff; } }

@media (max-width: 767px) {
  .navbar-area .navbar .navbar-nav .nav-item .sub-nav-toggler {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 14px;
    font-size: 16px;
    background: none;
    border: 0;
    color: #fff; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area .navbar .navbar-btn {
    position: absolute;
    right: 70px;
    top: 11px; } }

@media (max-width: 767px) {
  .navbar-area .navbar .navbar-btn {
    position: absolute;
    right: 60px;
    top: 11px; } }

.navbar-area .navbar .navbar-btn .menu-bar {
  font-size: 32px;
  top: -13px;
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.navbar-area.navbar-transparent {
  background: transparent; }

.navbar-area.navbar-transparent .navbar .navbar-toggler .toggler-icon {
  background-color: #fff; }

.navbar-area.navbar-transparent .navbar .navbar-nav .nav-item a {
  color: #fff; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area.navbar-transparent .navbar .navbar-nav .nav-item a {
    color: #121212; } }

@media (max-width: 767px) {
  .navbar-area.navbar-transparent .navbar .navbar-nav .nav-item a {
    color: #121212; } }

.navbar-area.navbar-transparent.sticky {
  background-color: #fff; }

.navbar-area.navbar-transparent.sticky .navbar .navbar-toggler .toggler-icon {
  background-color: #121212; }

.navbar-area.navbar-transparent.sticky .navbar .navbar-nav .nav-item a {
  color: #121212; }

.navbar-area.navbar-transparent.sticky .navbar .navbar-nav .nav-item.active a,
.navbar-area.navbar-transparent.sticky .navbar .navbar-nav .nav-item:hover a {
  color: #38f9d7; }

.navbar-area.navbar-transparent.sticky .navbar .navbar-btn .menu-bar {
  color: #121212; }

.navbar-area.navbar-transparent.sticky .navbar .navbar-btn .menu-bar:hover {
  color: #38f9d7; }

.navbar-area.navbar-transparent-2 {
  background: transparent; }

.navbar-area.navbar-transparent-2 .navbar .navbar-toggler .toggler-icon {
  background-color: #fff; }

.navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item a {
  color: #121212; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item a {
    color: #121212; } }

@media (max-width: 767px) {
  .navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item a {
    color: #121212; } }

.navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item a::before {
  background-color: #38f9d7; }

.navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item.active a,
.navbar-area.navbar-transparent-2 .navbar .navbar-nav .nav-item:hover a {
  color: #38f9d7; }

.navbar-area.navbar-transparent-2 .navbar .navbar-btn .menu-bar {
  color: #fff; }

.navbar-area.navbar-transparent-2 .navbar .navbar-btn .menu-bar:hover {
  color: #38f9d7; }

.navbar-area.navbar-transparent-2.sticky {
  background-color: #fff; }

.navbar-area.sticky {
  position: fixed;
  -webkit-box-shadow: 0 3px 6px 0 #000000 opacity(0.1);
  -moz-box-shadow: 0 3px 6px 0 #000000 opacity(0.1);
  box-shadow: 0 3px 6px 0 #000000 opacity(0.1);
  padding: 5px 0; }

/*===== SLIDER ONE =====*/
.slider-area .bd-example .carousel .carousel-inner {
  background-color: #fff; }

.slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption {
  padding-top: 10px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  left: 0; }

.slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  text-transform: uppercase;
  width: 942px;
  color: #FFFFFF;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  justify-content: flex-end;
  position: relative;
  left: -130px;
  top: 85px; }

@media (max-width: 767px) {
  .slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-title {
    position: absolute;
    width: 292px;
    height: 72px;
    left: 15px;
    top: -75px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    justify-content: flex-start; } }

.slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li {
  display: inline-block;
  margin: 16px 8px 0; }

@media (max-width: 767px) {
  .slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li {
    margin: 16px 3px 0; } }

.slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li a.rounded-three {
  border: 0; }

.slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li a.rounded-one {
  border-color: #fff;
  color: #fff; }

.slider-area .bd-example .carousel .carousel-inner .carousel-item .carousel-caption .carousel-btn li a.rounded-one:hover {
  background-color: rgba(255, 255, 255, 0.3); }

.slider-area .bd-example .carousel .carousel-control-prev,
.slider-area .bd-example .carousel .carousel-control-next {
  top: 60%;
  width: auto;
  height: auto;
  color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: auto;
  left: 0px;
  opacity: 0;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-area .bd-example .carousel .carousel-control-prev,
  .slider-area .bd-example .carousel .carousel-control-next {
    left: 30px;
    font-size: 50px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area .bd-example .carousel .carousel-control-prev,
  .slider-area .bd-example .carousel .carousel-control-next {
    left: 30px;
    font-size: 50px; } }

@media (max-width: 767px) {
  .slider-area .bd-example .carousel .carousel-control-prev,
  .slider-area .bd-example .carousel .carousel-control-next {
    left: 20px;
    font-size: 20px; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-area .bd-example .carousel .carousel-control-prev,
  .slider-area .bd-example .carousel .carousel-control-next {
    font-size: 34px; } }

.slider-area .bd-example .carousel .carousel-control-next {
  right: 0px;
  left: auto; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-area .bd-example .carousel .carousel-control-next {
    right: 40px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-area .bd-example .carousel .carousel-control-next {
    right: 40px; } }

@media (max-width: 767px) {
  .slider-area .bd-example .carousel .carousel-control-next {
    right: 20px; } }

.slider-area .bd-example .carousel .carousel-indicators {
  margin-bottom: 20px; }

.slider-area .bd-example .carousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  border: 0; }

.slider-area .bd-example .carousel .carousel-indicators li.active {
  width: 16px;
  background-color: #fff;
  border-radius: 5px; }

.slider-area .bd-example .carousel:hover .carousel-control-prev {
  left: 70px;
  opacity: 1; }

.slider-area .bd-example .carousel:hover .carousel-control-next {
  right: 70px;
  opacity: 1; }

.slider-3 {
  padding-top: 0px; }

.slider-3 .bd-example .carousel .carousel-inner .carousel-item {
  height: 850px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-3 .bd-example .carousel .carousel-inner .carousel-item {
    height: 650px; } }

@media (max-width: 767px) {
  .slider-3 .bd-example .carousel .carousel-inner .carousel-item {
    height: 550px; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-3 .bd-example .carousel .carousel-inner .carousel-item {
    height: 650px; } }

/*===== HEADER TOW =====*/
.header-hero {
  height: 850px;
  position: relative; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero {
    height: 700px; } }

@media (max-width: 767px) {
  .header-hero {
    height: 650px; } }

.header-hero::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
  background: -o-linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12));
  background: linear-gradient(rgba(232, 237, 255, 0.9), rgba(239, 254, 255, 0.9) 50%, rgba(254, 255, 244, 0.3) 68%, rgba(255, 255, 255, 0.12)); }

.header-hero .header-content {
  padding-top: 195px;
  position: relative;
  z-index: 9; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero .header-content {
    padding-top: 130px; } }

@media (max-width: 767px) {
  .header-hero .header-content {
    padding-top: 120px; } }

.header-hero .header-content .header-title {
  font-size: 44px;
  line-height: 55px;
  color: #121212;
  font-weight: 600; }

@media (max-width: 767px) {
  .header-hero .header-content .header-title {
    font-size: 30px;
    line-height: 40px; } }

.header-hero .header-content .text {
  font-size: 20px;
  line-height: 32px;
  color: #6c6c6c;
  margin-top: 16px; }

@media (max-width: 767px) {
  .header-hero .header-content .text {
    font-size: 16px;
    line-height: 24px; } }

.header-hero .header-content .header-btn {
  margin-top: 22px; }

.header-hero .header-content .header-btn li {
  display: inline-block;
  margin: 10px 10px 0; }

.header-hero .header-content .header-btn li a.main-btn {
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 0;
  line-height: 50px; }

.header-hero .header-content .header-btn li a.main-btn i {
  margin-left: 18px; }

.header-hero .header-content .header-btn li a.main-btn.btn-two:hover {
  -webkit-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);
  color: #38f9d7; }

.header-hero .header-shape {
  position: absolute;
  bottom: 0;
  left: -6px;
  width: 102%; }

.header-hero .header-shape img {
  width: 100%; }

.about-area {
  position: relative;
  padding-top: 190px;
  padding-bottom: 1000px; }

.about-area .section-title {
  position: absolute;
  width: 1229px;
  height: 813px;
  background: #9B9B84;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.31);
  border-radius: 40px; }
  .about-area .section-title .sectionAbout {
    position: absolute;
    width: 200px;
    height: 54px;
    left: 565px;
    top: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF; }
  .about-area .section-title .sectionText {
    position: absolute;
    width: 685px;
    left: 335px;
    top: 125px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF; }

.bold {
  font-weight: bold; }

@media (max-width: 767px) {
  .about-area .section-title {
    position: absolute;
    width: 349px;
    height: 349px;
    background: #9B9B84;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.31);
    border-radius: 40px; }
  .about-area .section-title .sectionAbout {
    position: absolute;
    left: 116px;
    width: 223px;
    height: 65px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E7E3E0; }
  .about-area .section-title .sectionText {
    position: absolute;
    width: 251px;
    height: 168px;
    left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #E7E3E0; } }

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-area .section-title p {
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF; }
  .about-area .imagesGroup {
    display: flex;
    width: 456px;
    height: 480px;
    overflow-x: scroll;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-top: 120px; } }

.portfolio-area {
  margin-top: 100px;
  position: absolute;
  width: 100%;
  left: 0px;
  height: 127px;
  background: #9B8492; }

.portfolio-content .title {
  position: absolute;
  width: 160px;
  height: 54px;
  left: 295px;
  top: -200px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #9B8492; }

.imagesGroup {
  display: flex;
  position: absolute;
  top: -100px;
  left: -200px;
  flex-wrap: nowrap;
  justify-content: center; }
  .imagesGroup img {
    padding: 10px; }

.imgBox {
  position: relative;
  float: left;
  width: 394px; }

.imgBox .hoverImage {
  position: absolute;
  left: -10px;
  top: 0;
  display: none;
  width: 419px; }

.imgBox:hover .hoverImage {
  display: block; }

@media (max-width: 767px) {
  .portfolio-area {
    background: none; }
  .portfolio-content .title {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    left: 240px;
    top: -675px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9B8492; }
  .imagesGroup {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: -575px;
    left: -10px; } }

.services-area {
  margin-top: 525px;
  position: absolute;
  width: 100%;
  left: 0px; }

.services-content .title {
  position: absolute;
  width: 160px;
  height: 54px;
  left: 295px;
  top: -145px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #A6856A; }

.imagesGroupServices {
  display: flex;
  position: absolute;
  top: -80px;
  left: -279px;
  flex-wrap: nowrap;
  background: rgba(166, 133, 106, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 1323px;
  height: 487px; }
  .imagesGroupServices img {
    padding: 10px; }

.imgBoxServices {
  margin-inline: 17px;
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 393px;
  height: 404px;
  left: 25px;
  top: 35px;
  background: #E7E3E0;
  border: 3px solid #E7E3E0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px; }

.imageInnServices img {
  position: relative;
  top: 80px; }

.imgBoxServices .hoverImageServices {
  position: absolute;
  left: 0;
  top: 0;
  display: none; }

.btnHome {
  position: relative;
  width: 257px;
  margin-inline: 30px;
  top: 135px;
  height: 79px;
  background: rgba(155, 132, 146, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  color: #FFFFFF;
  justify-content: center;
  align-items: center; }

.btnHome:hover {
  background: #9B8492;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF; }

.imgBoxServices:hover .hoverImageServices {
  display: block; }

.textServices {
  display: none; }

@media (max-width: 767px) {
  .services-area {
    margin-top: 880px; }
  .services-content .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A6856A;
    left: 220px;
    top: -400px; }
  .imagesGroupServices {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    background: none;
    top: -330px;
    left: -25px;
    box-shadow: none;
    justify-content: center;
    align-items: center; }
    .imagesGroupServices img {
      position: absolute;
      top: -50px;
      left: -25px;
      background: #F1EFED;
      border: 3px solid #A6856A;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 113px;
      height: 116px;
      border-radius: 30px; }
    .imagesGroupServices .comunicacion {
      top: -50px;
      left: 280px; }
  .imgBoxServices {
    margin-inline: 17px;
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 347px;
    height: 131px;
    left: 25px;
    top: 33px;
    background: #A6856A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 28px;
    border-radius: 21px;
    border: none; }
  .hoverImageServices img {
    display: none; }
  .textServices {
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    top: 30px;
    color: #F1EFED;
    position: relative; } }

.btnHome {
  position: relative;
  left: -150px;
  top: 115px;
  margin-bottom: 25px;
  width: 163px;
  height: 36px;
  background: rgba(155, 132, 146, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF; }

.btnHome:hover {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF; }

@media only screen and (min-width: 576px) and (max-width: 769px) {
  .services-area {
    background-image: url("../assets/images/Coming soon Mobile.webp");
    background-blend-mode: normal;
    padding-top: 150px;
    height: 402px; }
  .services-content .sub-title {
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .services-content .title {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    padding-top: 25px;
    text-align: center;
    color: #FFFFFF; } }

.news-area {
  width: 100%;
  height: 797px;
  margin-top: 1000px;
  background: #9FA292; }

.newsSecondCol a {
  position: relative;
  left: -15px; }

.sectionTitle {
  position: relative;
  width: 209px;
  height: 54px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  left: 675px;
  top: 55px;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF; }

.news .row {
  box-sizing: border-box;
  position: relative;
  width: 1225px;
  margin: 0;
  height: 542px;
  left: 275px;
  top: 140px;
  border: 1px solid #FFFFFF;
  border-radius: 48px; }

.newsTitle {
  position: absolute;
  width: 449px;
  height: 54px;
  left: 272px;
  top: 120px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF; }

.newsSubtitle {
  position: absolute;
  width: 597px;
  height: 144px;
  left: 155px;
  top: 220px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF; }

@media (max-width: 767px) {
  .news-area {
    margin-top: 1175px;
    height: 660px; }
  .sectionTitle {
    left: 150px;
    top: 3000px;
    position: absolute;
    width: 209px;
    height: 54px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF; }
  .news .row {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    width: 375px;
    height: 471px;
    left: 60px;
    top: 140px;
    border: 1px solid #FFFFFF;
    border-radius: 48px; }
  .newsTitle {
    position: absolute;
    width: 168px;
    height: 24px;
    left: 105px;
    top: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; }
  .newsSecondCol a {
    width: 335px;
    height: 251px;
    position: relative;
    left: -10px;
    top: -40px; }
  .newsSubtitle {
    position: absolute;
    width: 302px;
    height: 105px;
    left: 42px;
    top: 335px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF; } }

@media only screen and (min-width: 576px) and (max-width: 769px) {
  .news-area {
    background-image: url("../assets/images/Coming soon Mobile.webp");
    background-blend-mode: normal;
    padding-top: 150px;
    height: 402px; } }

.pricing-area {
  background-image: url("../assets/images/Sabrina ⁷ (@sabrinafelizitas) posted on Instagram • Oct 15, 2019 at 2_03pm UTC 1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.trust-img {
  padding-top: 200px; }

.trust-img-div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 65px;
  justify-items: center; }

.pricing-trust {
  position: relative;
  width: 84px;
  height: 54px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #9B8492;
  top: 85px;
  left: 825px; }

.staffNames {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  align-items: center;
  text-align: center;
  color: #9B8492; }

.staffService {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  color: #9B8492; }

.brandNames {
  margin: 0px;
  padding: 0px;
  font-family: 'Futura';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF; }

@media (max-width: 767px) {
  .pricing-trust {
    position: relative;
    left: 220px;
    width: 49px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #9B8492; }
  .trust-img-div {
    display: flex;
    overflow-x: scroll; }
  .staffNames {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #9B8492; }
  .staffService {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-inline: 40px;
    color: #9B8492;
    width: 253px;
    height: 30px; } }

@media only screen and (min-width: 576px) and (max-width: 769px) {
  .pricing-area {
    padding-bottom: 66px;
    margin-top: 0px;
    background-image: none; }
  .pricing-title {
    margin-left: 40px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #3E3B39; }
    .pricing-title .logoPricing {
      visibility: visible; }
  .pricing-subtitle {
    top: 1852px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #4B4845; }
  .pricing-images {
    margin-left: 46px;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 111px;
    height: 176px;
    background: #DF4F89;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px; }
  .trust-img {
    padding-top: 18px; }
    .trust-img img {
      margin-inline-end: 50px;
      margin-inline-start: 50px;
      width: 225px;
      height: auto; }
  .pricing-trust {
    padding-top: 100px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #3E3B39; }
  .brandNames {
    padding: 0px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF; } }

.contact-area {
  margin-top: 160px;
  margin-bottom: -200px;
  width: 1160px;
  height: 440px;
  position: relative;
  left: 325px; }

.contactBox {
  position: relative;
  width: 1031px;
  height: 391px;
  top: 25px;
  left: 65px; }

.btnContact {
  width: 356px;
  height: 83px;
  padding: 25px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #E7E3E0;
  background: #A6856A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border-radius: 60px; }

.btnContact:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  color: #FFFFFF; }

.contactText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #A6856A; }

.contactTitle {
  padding-top: 60px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #A6856A; }

.footer-copyright {
  background: rgba(155, 132, 146, 0.47);
  height: 200px; }

.footer-img {
  height: 200px; }

@media (max-width: 767px) {
  .contactTitle {
    position: relative;
    width: 113px;
    height: 30px;
    top: -125px;
    left: -200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #A6856A; }
  .contactText {
    position: relative;
    width: 350px;
    height: 93px;
    top: -50px;
    left: -300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #A6856A; }
  .btnContact {
    position: absolute;
    width: 196px;
    height: 46px;
    left: -240px;
    padding: 10px;
    background: #A6856A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #E7E3E0; }
  .footer-copyright {
    background-color: transparent; }
    .footer-copyright img {
      display: none; } }

@media only screen and (min-width: 576px) and (max-width: 769px) {
  .btnContact {
    margin: 10px;
    width: 350px;
    height: 50px;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px; } }

.back-to-top {
  font-size: 20px;
  color: #121212;
  position: fixed;
  right: 40px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background-color: #9FA292;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }

.back-to-top:hover {
  color: #121212;
  background-color: #A6856A; }
